*{
    margin:0px;
    padding:0px;


}
/*Navbar*/
nav{
    
    background-color: white;
    position: sticky !important;
    top:0px;
    padding:10px 30px;
    justify-content: space-between;
    align-items: center;
    width: 79vw;
    margin-left: 9vw;
    margin-top: 3vw;
    border-radius:2vw;

}

  
.nav-col-1{
    display: flex;
    align-items: center;
}
.nav-col-1>p{
    margin-top: 15px;
    margin-left: 15px;
}
.logo-text{
    width: 75px;
height: 23.846px;
flex-shrink: 0;
color: #FF5151;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.nav-col-2>ul{
    display:flex;
    align-items: center;
   margin-left: 16vw;
    justify-content: center;

}
@media only screen and (max-width: 767px) {
    .nav-col-2>ul{
        display:flex;
        align-items: center;
       
        justify-content: center;
    
    }
  }
li{
   margin-left: 2vw;
   
   list-style: none;
}

.home{
    width: 58px;
    height: 23.846px;
    flex-shrink: 0;
    color: #FF5151;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
}
.nav-col-3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-col-3>div{
    margin-left: 1vw;
}



/* Navbar----End-------*/

/*hero Section*/
.my-hero{
    width: 79vw;
height: 600px;
display: inline-block;
object-fit: contain;
overflow: hidden;
flex-shrink: 1;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%); 
    margin-left: 9vw;
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5vw;
  
}
.hero-left{
    flex:50%;
}
.limited {
    color: #000;
font-family: Mada;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-top: 5vw;
    padding-left: 8vw;
}
.look{
padding-left: 8vw;
color: #000;
font-family: Mada;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.fashion{
    
padding-top: vw;
padding-left: 7vw;
flex-shrink: 0;
    color: #000;
    font-family: 'Aclonica', sans-serif;

    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.my-btn{
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
    border: none;
    margin-left: 8vw;
    margin-top: 3vw;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 156.25% */
animation: shake 0.5s;
animation-iteration-count: infinite ;
     

}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    
   
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
   
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.right-hero{
    
    flex:50%;
}
.circle{
    width: 452.054px;
height: 429px;
flex-shrink: 0;
border-radius: 452.054px;
background: rgba(255, 255, 255, 0.30);

}
.imag{
    
    background-image: url("./images/Group\ 3\ \(1\).png");
    
    right: 0px;
}
.collection{
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */
margin-top: 2vw;
}
.Our{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 104.167% */
margin-left: 42%;
}

.collection-text{
    margin-left: 44%;
    
}
.collection-text>svg{
    margin-top: 0px;
    margin-bottom: 2vw; 
}
.my-button{
margin-left:28%
}
.item-btn{
    width: 130px;
    height: 60px;
    flex-shrink: 0;  
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
border:none;
margin-left:2vw
}
.item-btn:hover{
    width: 130px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
}
.scrollable{
display:flex;
justify-content: center;
align-items: center;
margin-inline:auto;
overflow-x: auto;
width:80vw;
}

.list{
    width:100%;
    margin-inline:auto;
    white-space:nowrap;
}
.my-cards{
    width: 380px;
    display:inline-block;
    margin:10px;
    height: 429.162px;
    flex-shrink: 0;
    border-radius: 25px;
 
}
img{
    max-width: 100%;
    height: auto;
}
.imag2{
    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    height: 250px;
}
::-webkit-scrollbar{
    display: none;
}
.card-footer{
    width: 380px;
height: 120px;
flex-shrink: 0;
border-radius: 0px 0px 25px 25px;
background: #FFF;
box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.02);
}
.btnprice{
    width: 80px;
height: 29px;
flex-shrink: 0;
border-radius: 10px;
background: #FF5E3A;
border:none;
}
.grid-1{
    width: 571px;
height: 259px;
flex-shrink: 0;
background-image: url("./images/Poster\ 1.png");
}
.grid-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 138.889% */ 
    padding-top:9vw;
    padding-left:1vw;
}
.grid-3{
    background-image: url("./images/Poster\ 3.png"); 
    width: 619px;
height: 568px;
flex-shrink: 0;
}
.grid-text2{
    padding-top:21vw;
    padding-left:5vw;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
}
.grid-2{
    background-image: url("./images/Poster\ 2.png");  
    width: 571px;
height: 259px;
}
.container{
    display: grid;
    grid-template-columns:auto auto ;
    grid-template-rows: 300px 300px;
}
.grid2{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 138.889% */ 
    padding-top: 10vw;
    padding-left:2vw;
}
.collection-text2{
    margin-left: 44%;
    
}
.collection-text2>svg{
    margin-top: 0px;
    margin-bottom: 2vw; 
}
.Our2{
    margin-left: 42%;
}
.my-card2{
    width: 285px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 25px;
border: 0.5px solid rgba(144, 144, 144, 0.25);
background: #F0F0F0;  
}
.card-img-2{
    width: 285px;
height: 324px;
flex-shrink: 0;
    border-radius: 25px;
    border: 0.5px solid rgba(144, 144, 144, 0.25);
    background: #F0F0F0;
}
.cardfooter2{
    width: 285px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
}
.prc-2{
    color: #909090;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}
.cardcontainer{
    display:flex;
    flex-wrap: wrap;
    /*grid-template-columns: auto auto auto auto ;
    margin-left: 4vw;*/
}
.my-card2{
    margin-bottom: 10vw;
    margin-left: 1vw;
    
}
.heart{
    margin-bottom: 10vw;
    margin-right: 1vw;
}
.card-img-3{
    border-radius: 25px;
background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
width: 285px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 25px;
    
}
.mybtn{
    border-radius: 10px;
    background: #FF5E3A; 
    width: 86px;
height: 31px;
flex-shrink: 0;
border:none;
margin-top: 1vw;
margin-bottom: 1vw;

}
.my-footer{
    width:100vw;
height: 483px;
flex-shrink: 0;
background: rgba(252, 203, 144, 0.15);
position: relative;
bottom: 0px;
display:flex;
}

.left-footer{
    width: 30%;
    margin-left: 5vw;
    ;
}

.logof{
    width: 75px;
height: 23.184px;
flex-shrink: 0;
color: #FF5E3A;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.flogo{
    padding-top: 5vw;
    padding-left: 3vw;
    margin-bottom: 2vh;
}
.ftext{
    width: 254px;
height: 62.79px;
flex-shrink: 0;
color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
margin-left: 2vw;
}
.copyrigts{
    width: 151px;
height: 62.79px;
flex-shrink: 0;
color: #FF5E3A;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
margin-left: 2vw;
}
.socials{
    margin-left: 1vw;
}
.location>img{
    margin-top: 1vw;
}
.footer2{
    margin-left: 5vw;
    padding-top: 5vw;
}
.footer2>div{
    margin-bottom: 1vw;
}
.fhead{
  
flex-shrink: 0;
color: #0B132A;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 30px; /* 166.667% */
}
.contact{
    padding-top: 1vw;
}










@media only screen and (max-width: 650px) { ;
    
 .my-hero{
    flex-direction: column;
 } 

 .html{
    overflow: hidden;
    position: fixed;
 }
 .fashion{
    font-size: 3em;  
    transition: all 1s ease-in-out;
   
 }  

 img{
    max-width: 100%;
    max-height: 100%;
 }
 btn{
    max-width: 100%;
    max-height: 100%; 
 }
 .my-button{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    }
    
    
  
    
.container{
  display:flex;
  flex-direction: column;
    }
    .item-btn{
        margin-bottom: 2vw;
    }
    .cardcontainer{
        justify-content: center;
    }
    
    .my-footer{
        width:130vw;
    height: 160vh;
    flex-shrink: 10;
    background: rgba(252, 203, 144, 0.15);
    position: relative;
    bottom: 0px;
    display:flex;
    flex-direction: column;
    } 
    .my-card2{
        margin-bottom: 25vw;
        margin-left: 1vw;
        
    }

    





}













