*{
    margin:0px;
    padding:0px;


}
/*Navbar*/
nav{
    
    background-color: white;
    position: sticky !important;
    top:0px;
    padding:10px 30px;
    justify-content: space-between;
    align-items: center;
    width: 79vw;
    margin-left: 9vw;
    margin-top: 3vw;
    border-radius:2vw;

}

  
.nav-col-1{
    display: flex;
    align-items: center;
}
.nav-col-1>p{
    margin-top: 15px;
    margin-left: 15px;
}
.logo-text{
    width: 75px;
height: 23.846px;
flex-shrink: 0;
color: #FF5151;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.nav-col-2>ul{
    display:flex;
    align-items: center;
   margin-left: 16vw;
    justify-content: center;

}
@media only screen and (max-width: 767px) {
    .nav-col-2>ul{
        display:flex;
        align-items: center;
       
        justify-content: center;
    
    }
  }
li{
   margin-left: 2vw;
   
   list-style: none;
}

.home{
    width: 58px;
    height: 23.846px;
    flex-shrink: 0;
    color: #FF5151;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
}
.nav-col-3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-col-3>div{
    margin-left: 1vw;
}



/* Navbar----End-------*/

/*hero Section*/
.my-hero{
    width: 79vw;
height: 600px;
display: inline-block;
flex-shrink: 1;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%); 
    margin-left: 9vw;
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5vw;
  
}
.hero-left{
    flex:50%;
}
.limited {
    color: #000;
font-family: Mada;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-top: 5vw;
    padding-left: 8vw;
}
.look{
padding-left: 8vw;
color: #000;
font-family: Mada;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.fashion{
    
padding-top: vw;
padding-left: 7vw;
flex-shrink: 0;
    color: #000;
    font-family: 'Aclonica', sans-serif;

    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.my-btn{
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
    border: none;
    margin-left: 8vw;
    margin-top: 3vw;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 156.25% */
     

}
.right-hero{
    
    flex:50%;
}
.circle{
    width: 452.054px;
height: 429px;
flex-shrink: 0;
border-radius: 452.054px;
background: rgba(255, 255, 255, 0.30);

}
.imag{
    
    background-image: url("./images/Group\ 3\ \(1\).png");
    
    right: 0px;
}
@media screen {width: max-width:767px ;
    
 .my-hero{
    flex-direction: column;
 } 
 .fashion{
    font-size: 3em;  
 }  
 img{
    max-width: 100%;
    max-height: 100%;
 }
 btn{
    max-width: 100%;
    max-height: 100%; 
 }
    
}


